
<h5>Role Search</h5>
<% if User.all_roles.present? %>
	<%= form_tag users_path, :method => 'get', :id => "users_search", remote: true do %>
	    <div class="row">
	    	<div class="col-lg-6">
	    	 <%= select_tag "search", options_for_select(User.all_roles), {:class => 'form-control'} %>
	    	 </div>
	    	 <div class="col-lg-6">
	    	 	 <%= submit_tag "Search", :name => nil, :class => "btn btn-info" %>
	    	 </div> 
	    </div>
	<% end %>
<% end %>